<mat-drawer-container [autosize]="true" class="min-h-full max-w-7xl mx-auto border-x">
    <mat-drawer mode="side" opened class="p-6">
        <app-filters (showCategory)="onShowCategory($event)"></app-filters>
    </mat-drawer>
    <mat-drawer-content class="p-6">
        <app-products-header (columnsCount)="onColumnsCountChange($event)"></app-products-header>
        <!-- now we add the grid of items -->
        <mat-grid-list gutterSize="16" [cols]="itemsPerRow" [rowHeight]="rowHeight">
            <!-- the following will be used to loop through the items once we fetch them -->
            <mat-grid-tile>
                <app-product-box 
                    (addToCart)="onAddToCart($event)"
                    class="w-full" 
                    [fullWidthMode]="itemsPerRow === 1">
                </app-product-box>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-drawer-content>
</mat-drawer-container>