<mat-card class="mb-4">
    <div class="flex justify-between">
        <div>
            <button mat-button [matMenuTriggerFor]="sortByMenu">
                Sorted By {{sort}}
                <mat-icon>expand_more</mat-icon>
            </button>
            <mat-menu #sortByMenu="matMenu">
                <button (click)="onSortUpdate('Latest Arrivals')" mat-menu-item>Latest Arrivals</button>
                <button (click)="onSortUpdate('Price Descending')" mat-menu-item>Price Descending</button>
                <button (click)="onSortUpdate('Price Ascending')" mat-menu-item>Price Ascending</button>
            </mat-menu>
        </div>
        <div class="flex items-center">
            <div>
                <button mat-button [matMenuTriggerFor]="menu">
                    Showing {{ itemsCount }} items
                    <mat-icon>expand_more</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button (click)="onItemsCountUpdate(12)" mat-menu-item>12</button>
                    <button (click)="onItemsCountUpdate(24)" mat-menu-item>24</button>
                    <button (click)="onItemsCountUpdate(36)" mat-menu-item>36</button>
                </mat-menu>
            </div>
            <button (click)="onViewUpdate(1)">
                <mat-icon>view_list</mat-icon>
            </button>
            <button (click)="onViewUpdate(3)">
                <mat-icon>view_module</mat-icon>
            </button>
        </div>
    </div>
</mat-card>